<h1> Add a New Entry: </h1>

<form action ="/entries" method = "post" %>
  <p>
    <label for = "title">Title of your entry:</label>
    <input type = "text" name = "name" id = "name">
  </p>

  <p>
    <label for = "description">Description:</label>
    <input type = "text" name = "description" id = "description">
  </p>


  <button>Submit</button>
</form>

