
<h1><%= @place["name"] %></h1>

<h3>Entries</h3>

<p>
  <a href="/entries/new?entry_id=<%= @place.id %>">New entry for <%= @place.name %></a>
</p>

<p>
  <a href="/places">Back to List of Places</a>
</p>

